h1{
    text-align: center;
    background-origin: border-box;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: black;
    border: 2px solid;
    background-color:#F2F2F2
    
}
header p{
    font-size: large;
}
section p{
    font-size: large;
 
}  
.edu li{
    font-size: large;

}
.dic p{
    font-size: large;
}
.per table{
    text-align: left;
    padding: 5px 10px;
    
}
.cer{
    font-size: large;
}


.sig{
    text-align: right;
    padding-bottom: 60px;
}

