.menu{
    font-style: italic;
    font-weight: 60px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    display: flex;
    padding: 10px;
    width: 60%;
    justify-content: space-around;
}
.na{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px;
    width: 40%;
    color: orange;
    margin-bottom: 10px;

    
}
nav{
    display: flex;
    align-items: center;
}


.img{
    border: 50%;
}
*{
    padding: 0;
    margin: 0;
}
.navbar-menu{
    display: none;

}
@media(max-width:1024){
    nav{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
}
.bt{
    border-radius: 400px;
    padding: 10px;
    border:solid black;
}
.bt:hover{
    background-color: orange;
}
#about{
    display: none;
    width: 300px;
    padding: 15px;
    margin-top: 10px;
    background: #f2f2f2;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: left;

    float: none;
    shape-outside: none;
    position:static;
}
#skills{
    display: none;
    width: 300px;
    padding: 15px;
    margin-top: 10px;
    background: #f2f2f2;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: left;

    float: none;
    shape-outside: none;
    position:static;

}
