.menu{
    font-style: italic;
    font-weight: 60px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    display: flex;
    padding: 10px;
    width: 60%;
    justify-content: space-around;
}
.na{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 20px;
    width: 40%;
    color: orange;
    margin-bottom: 10px;

    
}
nav{
    display: flex;
    align-items: center;
}


.img{
    border: 50%;
}
*{
    padding: 0;
    margin: 0;
}
.navbar-menu{
    display: none;

}
@media(max-width: 1024px){
    .navbar{
        display: none;
    }
    .navbar-menu{
        display: flex;
    }
    .hamburger{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
        position: fixed;
        right: 30px;
        top: 20px;
    }
    
    .hamburger i{
        font-size: 35px;
        padding: 4px;
        
    }
    .navbar-menu .na{
        margin-top: 20px;
    }
    .navbar-menu .menu{
        display: flex;
        flex-direction: column;
        background-color: orange;
        position: fixed;
        margin-right: -700px;
        right: 0;
        top: 70px;
        padding: 10px;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .navbar-menu .menu.show{
         margin-right: 0;

    }
    .navbar-menu .menu  li{
        background-color: white;
        gap: 20px;
        border-radius: 5px;
        font-weight: 600;
    }
    
}
.bt{
    border-radius: 400px;
    padding: 10px;
    border:solid black;
}
.bt:hover{
    background-color: orange;
}
#about{
    display: none;
    width: 300px;
    padding: 15px;
    margin-top: 10px;
    background: #f2f2f2;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: left;

    float: none;
    shape-outside: none;
    position:static;
}
#skills{
    display: none;
    width: 300px;
    padding: 15px;
    margin-top: 10px;
    background: #f2f2f2;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: left;

    float: none;
    shape-outside: none;
    position:static;

}
#projects{
    display: none;
}
@media(max-width:1024px){
    .sec1{
    
    flex-direction: column;
    }
    .sec1-2{
        align-items: center;
    }

}

