.cal{
    width: 400px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 10px;
    overflow: hidden;
    
}
.btns{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 10px;
   
    
    

}
button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    gap: 20px;
     background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 30px;
    font-weight: 40px;
    cursor: pointer;

}
input{
    width: 100%;
    background-color: hsl(0, 0%, 20%);
    height: 80px;
    border: none;
    color: white;
    font-size: 50px;
    font-weight: 40px;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c{
    background-color: orange;
}.c:hover{
    background-color: hsl(35, 100%, 65%);
    cursor: pointer;
}
.c:active{
    background-color: hsl(35, 100%, 65%);

}
button:hover{
     background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%) ;
}